
body{
    background-image: url('../resources/images/animal_b.png');
    background-size:cover;
    width: 100%;
    height: 100vh;
}

.categories {
    display: flex;
    justify-content: flex-end;
}

.cate-add{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



/* .container{
    background-color: aliceblue;
    position: flex;
}

.reptiles{
    text-decoration: none;

}

.mammals{
    text-decoration: none;
}

.birds{
    text-decoration: none;
}

a{
    text-decoration: none;
} */